/************************
full page layout
************************/
* {
  box-sizing: border-box;
  font-family: 'Raleway';
}

a,
a:hover{
  text-decoration: none;
  color: #333;
}

@font-face {
  font-family: "AlexBrush";
  src: url('../fonts/AlexBrush-Regular.ttf'),url(); format("truetype");
}

@font-face {
  font-family: "Chunkfive";
  src: url('../fonts/Chunkfive.otf'),url();
  format("truetype");
}



/************************
navigation bar settings
************************/
.navbar {
  background-color: #999;
  border-bottom: rgb(70, 70, 70);
  box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.72)
}

.navbar-default .navbar-brand {
  font-family: AlexBrush, Pacifico;
  color: #eee;
  font-size: 2rem;
  text-shadow: .5px .5px .5px #333;
}

.navbar-default .navbar-nav>li>a{
  color: #eee;
  font-size: 0.8rem;
}

.navbar-collapse .nav .navbar-right {
  color: #eee;
}



/************************
headline settings
************************/
.headLine {
  padding: 1% 2% 0 0;
}

.cityHeadLine {
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
}

#nameOfCity {
  font-family: Chunkfive;
  font-size: 3rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: lighter;
  color: #333;
  text-shadow: 2px 2px 4px #888;
}

.numMatches {
  font-size: 1.4rem;
  color: #555;
  text-shadow: 1px 1px 1px #888;
  margin-left: 2%;
}

p.peopleOptions {
  margin: 0 0 2.5% 0;
  padding: 0 25%;
  text-align: center;
  border-bottom: 0.25px solid #ddd;
}

.peopleOptions a{
  display: inline-block;
  padding: 0 5%;
  color: #ccc;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.peopleOptions a:hover {
  color: #444;
  font-size: 0.9rem;
}

a.selected {
  color: #333;
  font-size: 0.9rem;
}



/************************
footer settings
************************/
footer {
  font-size: 0.9rem;
  margin: 1% 0 0 0;
  text-align: center;
  background-color: #ddd;
}

footer p {
  margin: 0;
  padding: 1.5% 0 1.5% 0;
}

footer a{
  color: #444;
  display: inline-block;
  margin: 0 2%;

}

footer a:hover {
  color: #222;
}





/************************
result block styling
************************/
.resultBlock {
  background-color: rgba(240, 240, 240, 0.7);
  border: 1px dashed rgba(200, 200, 200, 1);;
  width: 32.2%;
  padding: 2% 2%;
  float: left;
  margin: 0.5%; /* (100-3*0.5)/3 = 32.8333*/
  border-radius: 5%;
  box-shadow: 2px 2px 10px rgba(200, 200, 200, 0.72);
  display: inline-block;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.resultBlock:after,
.wrapper:after,
.navbar:after {
  content: "";
  display: table;
  clear: both;
}

.profilePic img{
  margin-top: 10%;
  width: 35%;
  float: left;
}

.profileInfo {
  width: 45%;
  display: inline-block;
  padding-left: 5%;
  text-align: center;
}

.containerPlaces {
  padding: 5% 10% 5% 10%;
  margin: 0;
  display: inline-block;
}

.placeImage {
  padding: 0;
  float: left;
  width: 25%;
  margin: 0;

}

.placeDescription {
  padding: 0 2% 2% 5%;
  float: right;
  width: 70%;
  margin: 0;
}

.containerPlaces:after {
  content: "";
  display: table;
  clear: both;
}




/**********************************
Media Query Styling
**********************************/
@media (max-width:960px) {
  *{
    font-size: 15px;
  }

  .resultBlock {
    width: 48%;
  }

  .resultBlock:nth-child(4n){
    clear: none;
  }

  .resultBlock:nth-child(3n) {
    clear: left;
  }
}


@media (max-width:600px) {
  *{
    font-size: 10px;
  }

  .resultBlock {
    width: 98%;
    float: none;
  }
}
