    <!--footer-->
  <footer>
    <p>
      <a href="ContactPage">Contact Us</a>
      <a href="facebook">Facebook</a>
      <a href="linkedIn">LinkedIn</a>
      <a href="twitter">Twitter</a>
      <a href="tel:514-555-5555">514-555-5555</a>
      <a href="mailto:cheryl@gmail.com">cheryl@gmail.com</a>
    </p>
  </footer>
  </body>
</html>