<!--Landing page when user logs onto our site. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,400italic|Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/main.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/index.css" media="screen" title="no title" charset="utf-8">
    <script src="../js/jquery-1.12.2.min.js"></script>
    <title>Welcome</title>
  </head>

  <body>
    <!--nav bar, maybe -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Kindred</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <div class="welcome-1">
    <h1>Kindred</h1>
    <h2 class="subtitle">your travel, your style</h2>
    <div><img src="../img/downwardArrow.png" alt="Get Started!" id="downArrow"></div>
  </div>

  <div class="page-block">
    <div class="info-select">
      <span class="what-it-is selected">What is Kindred?</span>
      <span class="how-it-works">How to use Kindred</span>
    </div>
    <div class="what-it-is selected">Kindred is an online platform that provides unique and interactive travel-related content curated by a community of like-minded world explorers and personalized through tags determined by each user's travelling style.</div>
    <div class="how-it-works">
      <p>1. Find your Travel-Style tags</p>
      <p>2. "Match Me!" to find others who share your taste in traveling OR "Find a place" to discover tourist attractions as recommended by others like you.</p>
      <p>3. Click on profile to read about others' travel stories.</p>
    </div>


  </div>

  <div class="how-it-works page-block">
    <div class="centeredTitle">How it works</div>
    <div class="steps">
      <div class="option">Add travel-style tags</div>
      <span class="OR">OR</span>
      <div class="option">take our quiz <a href="quiz.html">here</a></div>
    </div>
    <div class="right-arrow"></div>

    <div class="steps">
      <div class="option">search for places in a city</div>
      <span class="OR">OR</span>
      <div class="option"><a href="browse.html">look around the world</a></div>
    </div>

    <div class="steps">
      <div class="citySearch">Search for a city <button type="submit">Go!</button></div>
      <div class="peopleSearch">Match Me!</div>
    </div>
  </div>

  <div class="travel-search page-block">
    <form>
      <label for="travel-tags">How do you travel?</label><br>
      <textarea id="travel-tags" name="travel-tags" placeholder="eg. romantic, foodie, adventurer, ..."></textarea>
      <button type="submit">Next</button>
    </form>
  </div>

  <div class="destination-search page-block">
    <div class="selected-tags">
      <ul class="selected -tags">
        <li></li>
        <li></li>
      </ul>
    </div>
    <label for="destination-query">Destination: </lable>
    <input type="text" id="destination-query" name="destination-query" placeholder="eg. Paris, London, Grand Cayon, ...">
    <button type="submit">Match me!</button>
    <h3>OR</h3>
    <button type="submit">Show me the world!</button>

  </div>



    <!--footer-->
  <footer>
    <p>
      <a href="ContactPage">Contact Us</a>
      <a href="facebook">Facebook</a>
      <a href="linkedIn">LinkedIn</a>
      <a href="twitter">Twitter</a>
      <a href="tel:514-555-5555">514-555-5555</a>
      <a href="mailto:cheryl@gmail.com">cheryl@gmail.com</a>
    </p>
  </footer>
   <script type="text/javascript" src="../js/index.js"></script>
  </body>
</html>
