/**********************************
index: 1st landing
**********************************/
body {
    background-image: url('/img/welcomePage.jpeg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center-top;
    background-size: cover;
}

.landing {
  color: black;
  padding: 10% 0 10% 0;
  font-family: AlexBrush, Pacifico;
  font-size: 3.5rem;
  font-weight: bolder;
  min-height: 50vh;
}

h1{
  margin: 2% 20%;
  line-height: 3rem;
  text-shadow: 4px 4px 8px #333;
  display: inline-block;
  text-align: left;
  font-size: 5rem;
}

h2 {
  padding: 0;
  margin: 0 0 0 28%;
  color: #222;
  text-shadow: 2px 2px 4px #777;
  font-size: 4rem;
}

.subtitle {
  display: block;
  font-weight: normal;
}



/**********************************
index: page-block
**********************************/
.block-header {
  font-size: 1.6rem;
  padding: 2% 20% 1% 20%;
  text-align: center;
}

.block-header span {
  font-size: 1.6rem;
}

span.what-it-is {
  display: inline-block;
  margin-right: 4%;
}

span.selected {
  border-bottom: 2px solid #000;
  color: #000;
}

div.description {
  padding: 5% 20% 1% 20%;
  font-size: 1.3rem;
}

div.not-selected {
  display: none;
}

.page-block {
  margin: 0;
  padding: 5% 8% 0 8%;
  background-color: rgba(255,255,255,1.0);
  min-height: 60vh;
}






/**********************************
index: destination-search
**********************************/










/**********************************
index: destination-search
**********************************/




/**********************************
Media Query Styling
**********************************/
@media (max-width:960px) {

  .landing h1{
    font-size: 4.0rem;
  }

  .landing h2{
    font-size: 3.0rem;
  }

  .page-block {
     padding: 5% 5% 0 5%;
  }

  .page-block div {
    padding: 5% 5% 0 5%;
  }



}


@media (max-width:600px) {
  .page-block {
     padding: 5% 1% 0 1%;
  }

  .block-header {
    padding: 5% 1% 0 1%;
  }


}

@media (max-width:600px) {
  
}
