/**********************************
city Match city picture: montreal
**********************************/
.headerPicture {
  background-image: linear-gradient(0deg, #fff 0%, transparent 30%, transparent 70%, #ddd 100%),
                    url('../img/MontrealBackground.jpg');
  margin: 0;
  padding: 27% 0 0 0;
  background-repeat: no-repeat;
  background-position: center-top;
  background-size: cover;
}



/**********************************
result block internal styling
**********************************/
.profileInfo p {
  line-height: 1rem;
  margin: 3%;
}

.placeImage img {
  border-radius: 10%;
  width: 100%
}

.profileInfo h3 {
  margin: 0;
}

.containerPlaces a {
  padding: 0 0 0 0;
  margin: 0;
  color: #000;
  border-bottom: 1px solid #ddd;
}

.containerPlaces a:hover {
  #777777;
}

.containerPlaces h3 {
  margin: 0 0 3% 0;
}

.containerPlaces p {
  margin: 0;
  font-size: 0.8rem;
  padding: 0;
}

.personName {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 0.5px dotted #ddd;
  padding: 0 10% 0 0;
}

.cityOrigin {
  font-size: 0.8rem;
  font-style: italic;
  text-align: right;
  color: #888;
}

.travelTags {
  font-size: 0.9rem;
}

.travelTags,
.matchPercent,
.lastVisited {
  text-align: left;
}

.matchPercent,
.lastVisited {
  font-size: 0.75rem;
  font-style: italic;
  color: #888;
  margin: 0;
}
