.wrapper {
	margin: 8% auto 5% auto;
	padding: 5px 10%;
	width: 80%;
	min-height: 75vh;
	background-color: rgba(255,255,255,1.0);
}

h1 {
	text-align: center;
	margin: 5% 10% 0 10%;
	text-shadow: 2px 2px 2px #ccc;
}

form {
	margin: 4% 0;
	line-height: 1.5rem;
}

form.signup{
	text-align: left;
}

body {
    background-image: url('/img/welcomePage.jpeg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center-top;
    background-size: cover;
}


input {
	width: 180px;
}

label {
	display: inline-block;
	width: 80px;
	margin-left: 30%;
}

button {
	display: inline-block;
	margin: 0% 47%;
	width: 50px;
	height: 23px;
	border-radius: 10px;
}