.wrapper {
	margin: 8% auto 5% auto;
	padding: 5px 10%;
	width: 80%;
	min-height: 75vh;
	background-color: rgba(255,255,255,1.0);
}

h1 {
	text-align: center;
	margin: 5% 10% 0 10%;
	text-shadow: 2px 2px 2px #ccc;
	font-size: 1.6rem;
}

form {
	margin: 4% 0;
	line-height: 1.5rem;
}

form,
form label {
	font-size: 1.3rem;
}

form.signup{
	text-align: left;
}

body {
    background-image: url('/img/welcomePage.jpeg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center-top;
    background-size: cover;
}


input {
	width: 200px;
}

label {
	display: inline-block;
	width: 120px;
	margin-left: 30%;

}

button {
	display: inline-block;
	margin: 2px 47%;
	width: 50px;
	height: 30px;
	border-radius: 10%;
	box-shadow: 1px 1px 1px #ccc;
}

form.signup label {
	width: 250px;
	margin-left: 15%;
	text-align: center;
}

