.wrapper {
	margin: 0 10%;
	width: 80%;
	min-height: 90vh;
}

h1 {
	text-align: center;
	margin: 8% 10% 0 10%;
}

form {
	margin: 2% 0;
	border: 1px dashed #ccc;
}

form.signup{
	text-align: left;
	line-height: 1rem;
}